.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#header {
    float: left;
    height: 70px;
    clear: none;
    width: 100%;
    background-color: rgb(110, 124, 191);
    position: fixed;
    left: auto;
}

#left-nav {
    float: left;
    height: 305px;
    clear: none;
    width: 14.666477%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    background-color: rgb(255, 255, 255);
    min-height: 0px;
    position: fixed;
    top: 90px;
    left: 17.065458%;
}

#widget {
    float: left;
    height: 70px;
    margin-left: -0.00160174%;
    margin-top: 21px;
    clear: none;
    width: 100%;
    margin-right: 0%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    background-color: rgb(255, 255, 255);
}

body {
    color: rgb(0, 0, 0);
    background-color: rgb(242, 242, 242);
    padding-bottom: 0px;
    margin-bottom: 100px;
}

#nav-btn {
    float: left;
    height: 50px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
    margin-right: 0%;
    position: relative;
    display: block;
}

#nav-btn:hover {
    background-color: rgb(247, 247, 247);
}

#nav-btn:active {
    background-color: rgb(247, 247, 247);
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
    border-top-left-radius: 0px;
}

#nav-btn:focus {
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(247, 247, 247);
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
}

#nav-btn1:hover {
    background-color: rgb(247, 247, 247);
}

#nav-btn1:active {
    background-color: rgb(247, 247, 247);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
}

#nav-btn1:focus {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(247, 247, 247);
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
}

#nav-btn1 {
    float: left;
    height: 50px;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    margin-right: 0%;
    background-color: rgb(255, 255, 255);
    display: block;
}

#nav-btn2:hover {
    background-color: rgb(247, 247, 247);
}

#nav-btn2:active {
    background-color: rgb(247, 247, 247);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
}

#nav-btn2:focus {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(247, 247, 247);
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
}

#nav-btn2 {
    float: left;
    height: 50px;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    margin-right: 0%;
    background-color: rgb(255, 255, 255);
}

#nav-btn3:hover {
    background-color: rgb(247, 247, 247);
}

#nav-btn3:active {
    background-color: rgb(247, 247, 247);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
}

#nav-btn3:focus {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(247, 247, 247);
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
}

#nav-btn3 {
    float: left;
    height: 50px;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    margin-right: 0%;
    background-color: rgb(255, 255, 255);
}

#nav-btn4:hover {
    background-color: rgb(247, 247, 247);
}

#nav-btn4:active {
    background-color: rgb(247, 247, 247);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
}

#nav-btn4:focus {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(247, 247, 247);
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
}

#nav-btn4 {
    float: left;
    height: 50px;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    margin-right: 0%;
    background-color: rgb(255, 255, 255);
}

#nav-btn5:hover {
    background-color: rgb(247, 247, 247);
}

#nav-btn5:active {
    background-color: rgb(247, 247, 247);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
}

#nav-btn5:focus {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(247, 247, 247);
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
}

#nav-btn5 {
    float: left;
    height: 50px;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    margin-right: 0%;
    background-color: rgb(255, 255, 255);
    display: block;
}

#Vision {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 18px;
    margin-right: auto;
    margin-left: 30px;
}

#Vision1 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 0%;
}

#Vision2 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 0%;
}

#Vision3 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 0%;
}

#Vision4 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 0%;
}

#Vision5 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 0%;
}

#text1 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 19.5px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
    margin-right: 0px;
    margin-bottom: 0px;
}

#right-content {
    float: left;
    height: auto;
    margin-left: 34.155359%;
    margin-top: 70px;
    clear: none;
    width: 48.800064%;
    margin-right: 0%;
    display: block;
    padding-bottom: 100px;
}

#widget1 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    width: 99.998175%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    background-color: rgb(255, 255, 255);
}

#widget-header {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#title {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 20px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
}

#description {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: -60px;
    margin-top: 52px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(153, 153, 153);
    margin-right: 0%;
}

#icon1 {
    float: left;
    height: 45px;
    margin-left: 20px;
    margin-top: 25px;
    clear: none;
    width: 45px;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 99px;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

#icon {
    float: left;
    height: 45px;
    margin-left: 20px;
    margin-top: 10px;
    clear: none;
    width: 45px;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 99px;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    margin-right: 0%;
}

#widget-body {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    width: 99.999999%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
    margin-right: 0%;
    min-height: 0px;
    padding-bottom: 30px;
    display: block;
}

#text2 {
    float: left;
    font-size: 1.5em;
    width: 80.963855%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1.1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    color: rgb(68, 68, 68);
    font-family: 'Source Sans Pro';
    display: block;
}

#widget5 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    background-color: rgb(255, 255, 255);
}

#widget-header4 {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#left3 {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 90px;
    min-height: 0px;
}

#right3 {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: auto;
}

#icon-circle3 {
    float: left;
    height: 45px;
    margin-left: 25%;
    margin-top: 25%;
    clear: none;
    width: 45px;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 99px;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    overflow-x: visible;
    overflow-y: visible;
}

#title4 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
}

#description4 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 5px;
    clear: both;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(153, 153, 153);
    margin-right: 0%;
}

#widget-body4 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#row15 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    background-color: rgb(249, 249, 249);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
}

#text27 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text28 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row15:hover {
    background-color: rgb(249, 249, 249);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row16:hover {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row16 {
    margin-top: 1px;
    clear: both;
    width: 100%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#text29 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text30 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row17:hover {
    background-color: rgb(249, 249, 249);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row17 {
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0.05125577%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(249, 249, 249);
}

#text31 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text32 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row21:hover {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
}

#row21 {
    margin-top: 1px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#input3 {
    float: none;
    height: 50px;
    font-size: 1.5em;
    margin-left: auto;
    margin-top: 25px;
    clear: none;
    width: 28.703229%;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: rgb(110, 124, 191);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    margin-right: auto;
}

#input3:hover {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-weight: 300;
    font-size: 1.5em;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
    -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    background-color: rgb(255, 255, 255);
}

#image1 {
    float: left;
    width: 55.813953%;
    max-width: none;
    height: 24px;
    margin-left: 21.656977%;
    margin-top: 9px;
    clear: none;
    color: rgb(0, 0, 0);
}

#image {
    float: left;
    width: 55.813953%;
    max-width: none;
    height: 24px;
    margin-left: 23.982558%;
    margin-top: 10px;
    clear: none;
    color: rgb(0, 0, 0);
}

#widget2 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    width: 100.000001%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    background-color: rgb(255, 255, 255);
    margin-right: 0%;
}

#widget-header1 {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#left {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 90px;
    min-height: 0px;
}

#icon-circle {
    float: left;
    height: 45px;
    margin-left: 25%;
    margin-top: 25%;
    clear: none;
    width: 45px;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 99px;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    overflow-x: visible;
    overflow-y: visible;
}

#image2 {
    float: left;
    width: 62.281977%;
    max-width: none;
    height: 25px;
    margin-left: 17.659884%;
    margin-top: 10px;
    clear: none;
    color: rgb(0, 0, 0);
}

#right {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: auto;
}

#title1 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
}

#description1 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 5px;
    clear: both;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(153, 153, 153);
    margin-right: 0%;
}

#widget-body1 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#row:hover {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(249, 249, 249);
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(249, 249, 249);
}

#text3 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text4 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row1:hover {
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row1 {
    margin-top: 1px;
    clear: both;
    width: 100%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#text5 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text6 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row2:hover {
    background-color: rgb(249, 249, 249);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    margin-left: 0%;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row2 {
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0.05125577%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(249, 249, 249);
}

#text7 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text8 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row3:hover {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#row3 {
    margin-top: 1px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#input:hover {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-weight: 300;
    -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
}

#input {
    float: none;
    height: 50px;
    font-size: 1.5em;
    margin-left: auto;
    margin-top: 25px;
    clear: none;
    width: 23.782676%;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    margin-right: auto;
    color: rgb(110, 124, 191);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    background-color: rgb(255, 255, 255);
}

#widget3 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    width: 100.000001%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    background-color: rgb(255, 255, 255);
    margin-right: 0%;
}

#widget-header2 {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#left1 {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 90px;
    min-height: 0px;
}

#icon-circle1 {
    float: left;
    height: 45px;
    margin-left: 25%;
    margin-top: 25%;
    clear: none;
    width: 45px;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 99px;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    overflow-x: visible;
    overflow-y: visible;
}

#image3 {
    float: left;
    width: 44.186047%;
    max-width: none;
    height: 19px;
    margin-left: 27.47093%;
    margin-top: 12.5px;
    clear: none;
    color: rgb(0, 0, 0);
}

#right1 {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: auto;
}

#title2 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
}

#description2 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 5px;
    clear: both;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(153, 153, 153);
    margin-right: 0%;
}

#widget-body2 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#row4:hover {
    background-color: rgb(249, 249, 249);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row4 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(249, 249, 249);
}

#text9 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text10 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row5:hover {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row5 {
    margin-top: 1px;
    clear: both;
    width: 100%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#text11 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text12 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row6:hover {
    background-color: rgb(249, 249, 249);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row6 {
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0.05125577%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(249, 249, 249);
}

#text13 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text14 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row7:hover {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#row7 {
    margin-top: 1px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#input1:hover {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-weight: 300;
    font-size: 1.5em;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
    -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    background-color: rgb(255, 255, 255);
}

#input1 {
    float: none;
    height: 50px;
    font-size: 1.5em;
    margin-left: auto;
    margin-top: 25px;
    clear: none;
    width: 23.782676%;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    margin-right: auto;
    color: rgb(110, 124, 191);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    background-color: rgb(255, 255, 255);
}

#row18:hover {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row18 {
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#text33 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text34 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row19:hover {
    background-color: rgb(249, 249, 249);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row19 {
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(249, 249, 249);
}

#text35 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text36 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row20:hover {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row20 {
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#text37 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text38 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#widget4 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    width: 100.000001%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    background-color: rgb(255, 255, 255);
    margin-right: 0%;
}

#widget-header3 {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#left2 {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 90px;
    min-height: 0px;
}

#icon-circle2 {
    float: left;
    height: 45px;
    margin-left: 25%;
    margin-top: 25%;
    clear: none;
    width: 45px;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 99px;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    overflow-x: visible;
    overflow-y: visible;
}

#image4 {
    float: left;
    width: 52.47093%;
    max-width: none;
    height: 19.546875px;
    margin-left: 25.145349%;
    margin-top: 12.5px;
    clear: none;
    color: rgb(0, 0, 0);
}

#right2 {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: auto;
}

#title3 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
}

#description3 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 5px;
    clear: both;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(153, 153, 153);
    margin-right: 0%;
}

#widget-body3 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#row8:hover {
    background-color: rgb(249, 249, 249);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row8 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(249, 249, 249);
}

#text15 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text16 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row9:hover {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row9 {
    margin-top: 1px;
    clear: both;
    width: 100%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#text17 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text18 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row10:hover {
    background-color: rgb(249, 249, 249);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row10 {
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0.05125577%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(249, 249, 249);
}

#text19 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text20 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row11:hover {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row11 {
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#text21 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text22 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row12:hover {
    background-color: rgb(249, 249, 249);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row12 {
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(249, 249, 249);
}

#text23 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text24 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row13:hover {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#row13 {
    margin-top: 0px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#text25 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(68, 68, 68);
    display: block;
}

#text26 {
    float: left;
    font-size: 1.5em;
    width: 80.962377%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin-left: 85px;
    margin-top: 6px;
    clear: both;
    min-height: 48px;
    font-family: 'Source Sans Pro';
}

#row14:hover {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#row14 {
    margin-top: 1px;
    clear: both;
    width: 100.000001%;
    margin-right: 0%;
    float: left;
    height: auto;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#input2:hover {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-weight: 300;
    font-size: 1.5em;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
    -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    background-color: rgb(255, 255, 255);
}

#input2 {
    float: none;
    height: 50px;
    font-size: 1.5em;
    margin-left: auto;
    margin-top: 25px;
    clear: none;
    width: 23.782676%;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    margin-right: auto;
    color: rgb(110, 124, 191);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    background-color: rgb(255, 255, 255);
}

#image5 {
    float: left;
    width: 50.145349%;
    max-width: none;
    height: 21.5625px;
    margin-left: 25.145349%;
    margin-top: 11.5px;
    clear: none;
    color: rgb(0, 0, 0);
}

#widget6 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    width: 99.998175%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
    background-color: rgb(255, 255, 255);
    margin-right: 0%;
}

#widget-header5 {
    float: left;
    height: 90px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
}

#icon2 {
    float: left;
    height: 45px;
    margin-left: 20px;
    margin-top: 25px;
    clear: none;
    width: 45px;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 99px;
    border-top-color: rgb(110, 124, 191);
    border-right-color: rgb(110, 124, 191);
    border-bottom-color: rgb(110, 124, 191);
    border-left-color: rgb(110, 124, 191);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

#title5 {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 20px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
}

#description5 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 1em;
    margin-left: -60px;
    margin-top: 52px;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(153, 153, 153);
    margin-right: 0%;
}

#widget-body5 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    width: 99.999999%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    margin-right: 0%;
    min-height: 0px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#text39 {
    float: left;
    font-size: 1.5em;
    width: 80.963855%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1.1em;
    margin-left: 85px;
    margin-top: 22px;
    clear: none;
    min-height: 0px;
    color: rgb(68, 68, 68);
    font-family: 'Source Sans Pro';
}

#image6 {
    float: left;
    width: 32.085756%;
    max-width: none;
    height: 23px;
    margin-left: 35.610465%;
    margin-top: 11px;
    clear: none;
    color: rgb(0, 0, 0);
}

#widget-body5:hover {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#widget-body:hover {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(255, 255, 255);
    border-right-color: rgb(110, 124, 191);
    border-right-width: 2px;
    border-right-style: solid;
}

#box {
    float: none;
    height: 70px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 65.860274%;
    margin-right: auto;
}

#formgroup {
    float: left;
    height: auto;
    display: block;
    text-align: right;
    margin-left: 0%;
    margin-top: 22px;
    clear: none;
    width: auto;
    min-height: auto;
}

#select {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: inline-block;
    width: auto;
}

#text {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: 400;
    line-height: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    font-family: 'Source Sans Pro';
    color: rgb(38, 51, 112);
}

