$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import "bootstrap_variables.scss";
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import "core/color";
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'bootstrap_variables.scss';
@import 'core/_color.scss';
@import 'core/_nav.scss';
@import 'core/_tile.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector
