
<header class="hero-unit" id="banner">
  <div class="container">
    <h1 class="color-white">'Allo, 'Allo!</h1>
    <p class="lead">Unboxedinians... Welcome.
      </p>
        <p ng-if="Auth.isLoggedIn()">We missed you ~{{ Auth.getCurrentUser().name }}</p>
    <img ng-if="false" src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Thoughts:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Unboxed Technology |
        <a href="https://twitter.com/unboxedtechdevs">@unboxedtechdevs</a> |
        <a href="https://bitbucket.org/ncapito/ubt-pm/issues?state=open">Issues</a></p>
  </div>
</footer>
