<div class="row" ng-show="$state.is('product.show')">
  <section class="col-md-3">
    <div class="clearfix sideNav" ui-scrollfix>
      <div class="navItem" ng-click="gotoAnchor('vision')">
        <p class="navText">
          Vision
          <br>
        </p>
      </div>
      <div class="navItem" ng-click="gotoAnchor('customers')">
        <p class="navText">
          Target Customer
          <br>
        </p>
      </div>
      <div class="navItem" ng-click="gotoAnchor('problems')">
        <p class="navText">
          Problems
          <br>
        </p>
      </div>
      <div class="navItem" ng-click="gotoAnchor('features')">
        <p class="navText">
          Features
          <br>
        </p>
      </div>
      <div class="navItem" ng-click="gotoAnchor('enhancements')">
        <p class="navText">
          Enhancements
          <br>
        </p>
      </div>
      <div class="navItem" ng-click="gotoAnchor('roi')">
        <p class="navText">
          ROI
          <br>
        </p>
      </div>
    </div>

  </section>
  <section class="col-md-9">
    <div class="page-header" ng-if="!product._id">
      <form class="form-horizontal" name='myForm' role="form">
        <div class="form-group has-success has-feedback">
          <input placeholder="Product Name" name="name" required="" type="text" ng-model="product.name" class="form-control col-sm-4 ">
          <span ng-if="myForm.name.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <button class="btn btn-primary" ng-click="save()">Let's go!</button>
      </form>
    </div>
    <div ng-if="product._id">
      <section class="panel panel-primary clearfix">
        <div class="panel-icon clearfix">
          <img src="assets/images/product-name.svg" class="image">
        </div>
        <div class='panel-heading'>
          <h3 class="panel-title">{{product.name}}</h3>
        </div>
      </section>
      <section ng-show="$state.is('product.show')">

        <article class="panel panel-primary" id="vision">
          <div class="panel-icon clearfix">
            <img src="assets/images/vision.svg" class="image">
          </div>
          <div class="panel-heading">
            <h3 class="panel-title">Product Vision</h3>
            <div class="panel-description">Blah, blah, blah. Something about why you would write a product vision goes here</div>
          </div>
          <div class="panel-body">
            <a editable-textarea="product.vision" onbeforesave="validate('vision', $data)" onaftersave="save('vision', $data)" e-style="width: 100%;">
              <div>{{ product.vision || 'no vision' }}</div>
            </a>
          </div>
        </article>


        <article class="panel panel-primary" id='customers'>
          <div class="panel-icon clearfix">
            <img src="assets/images/target-customer.svg" class="image">
          </div>
          <div class="panel-heading">
            <h3 class="panel-title">Target Customer{{product.personas > 1 ? '(s)' : ''}}</h3>
            <div class="panel-description">Blah, blah, blah. Something about how we write about customers here.</div>
          </div>
          <div class="panel-body">
            <div ng-repeat="persona in product.personas|orderBy:'sortOrder'" class="clearfix" style="margin-bottom:10px;">
              <div>
                <h4>{{persona.name}}</h4>
                <div>{{persona.description}}</div>
                <a class="text-success pull-right" ui-sref="product.show.persona({personaID: persona._id})">Edit</a>
              </div>
            </div>
            <div>
              <i class="color-primary fa fa-plus fa-2x" ui-sref="product.show.newpersona"></i>
            </div>
          </div>
        </article>


        <article class="panel panel-primary" id='problems'>
          <div class="panel-icon clearfix">
            <img src="assets/images/problems.svg" class="image">
          </div>
          <div class="panel-heading">

            <h3 class="panel-title">Problems</h3>
            <div class="panel-description">What we're solving and/or goal we hope to achieve with this product</div>
          </div>
          <div class="panel-body">
            <div ng-repeat="problem in product.problems" class="clearfix" style="margin-bottom:10px;">
              <span editable-textarea="problem.description" onbeforesave="validate('problem', $data, problem)" onaftersave="save('problem', $data, problem)" e-style="width: 100%;">
						        <div>{{ problem.description || '-- Enter Problem  --' }}</div>
					   </span>
            </div>
            <div>
              <i class="color-primary fa fa-plus fa-2x" ng-click="product.problems.push({})"></i>
            </div>
          </div>
        </article>


        <article class="panel panel-primary" id='features'>
          <div class="panel-icon clearfix">
            <img src="assets/images/features.svg" class="image">
          </div>
          <div class="panel-heading">

            <h3 class="panel-title">Features</h3>
            <div class="panel-description">Top 10 product features in customer-friendly language</div>
          </div>
          <div class="panel-body">
            <div ng-repeat="feature in product.features|orderBy:'sortOrder'" class="clearfix" style="margin-bottom:10px;">
              <span editable-textarea="feature.title" onbeforesave="validate('feature', $data, feature)" onaftersave="save('feature', $data, problem)" e-style="width: 100%;">
						        <h4>Title: {{feature.title}}</h4>
					  </span>
              <span editable-textarea="feature.description" onbeforesave="validate('feature', $data, problem)" onaftersave="save('feature', $data, problem)" e-style="width: 100%;">
						<div>{{feature.description || 'enter description'}}</div>

					</span>
            </div>
            <div>
              <i class="color-primary fa fa-plus fa-2x" ng-click="product.features.push({})"></i>
            </div>
          </div>
        </article>
        <article class="panel panel-primary" id='enhancements'>
          <div class="panel-icon clearfix">
            <img src="assets/images/enhancements.svg" class="image">
          </div>
          <div class="panel-heading">

            <h3 class="panel-title">Enhancements</h3>
            <div class="panel-description">Top 10 enhancements we want to make</div>
          </div>
          <div class="panel-body">
            <div ng-repeat="enhancement in product.enhancements|orderBy:'sortOrder'" class="clearfix" style="margin-bottom:10px;">
              <span editable-textarea="enhancement.title" onbeforesave="validate('enhancement', $data, problem)" onaftersave="save('enhancement', $data, problem)" e-style="width: 100%;">
					         <h4>Title: {{enhancement.title}}</h4>
				    </span>
              <span editable-textarea="enhancement.description" onbeforesave="validate('enhancement', $data, problem)" onaftersave="save('enhancement', $data, problem)" e-style="width: 100%;">
				            <div>{{enhancement.description || 'enter description'}}</div>
			     </span>
            </div>
            <div>
              <i class="fa color-primary fa-plus fa-2x" ng-click="product.enhancements.push({})"></i>
            </div>
          </div>
        </article>

        <article class="panel panel-primary" id="roi">
          <div class="panel-icon clearfix">
            <img src="assets/images/roi.svg" class="image">
          </div>
          <div class="panel-heading">

            <h3 class="panel-title">R.O.I.</h3>
            <div class="panel-description">Revenue & profit impact for Unboxed in 2015</div>
          </div>
          <div class="panel-body">
            <a editable-number="product.roi" onbeforesave="validate('roi', $data)" onaftersave="save('roi', $data)" e-style="width: 100%;">
              <span>{{ product.roi || 'Enter ROI' }}</span>
            </a>
          </div>
        </article>
      </section>
    </div>

  </section>
</div>
<section ui-view>
</section>
