<section>
	<h1 class="page-header">Products	<a class="pull-right" ui-sref="product.show"><i class="fa fa-plus fa-1x" /></a>
	</h1>
	<div class="row">
		<div ng-repeat="product in products" class="col-sm-4 ">
			<div class="tile" ui-sref="product.show({id: product._id})"
				ng-style="{'background-color': randomColor($index) } ">
				 <a ui-sref="product.show({id: product._id})"> {{product.name}}</a>
			</div>
		</div>
	</div>
</section>
