h1,h2,h3,h4,h5,h6,
  .color-primary,
  label,
  b,
  .h1,.h2,.h3,.h4,.h5,.h6{
    color: $brand-primary;
}

.b-primary{
  background-color: $brand-primary;
  color: #fff;

}
.color-white{
  color: #fff;
}

$color_purple: #5133AB;
$color_red: #AC193D;
$color_orange: #DC572E;
$color_green: #00A600;
$color_blue: #2672EC;

//&.purple, &.blue, &.red, &.orange, &.green {
//  color: #fff;
//}

.b-purple {
  background: $color_purple;

  &:hover {
    background: darken($color_purple, 10%);
  }
}

.b-red {
  background: $color_red;

  &:hover {
    background: darken($color_red, 10%);
  }
}

.b-green {
  background: $color_green;

  &:hover {
    background: darken($color_green, 10%);
  }
}

.b-blue {
  background: $color_blue;

  &:hover {
    background: darken($color_blue, 10%);
  }
}

.b-orange {
  background: $color_orange;

  &:hover {
    background: darken($color_orange, 10%);
  }
}
