

@media (min-width: 979px) {


  .sideNav.ui-scrollfix {
    position: fixed;
    top:25px;
    width:228px;
  }
}

.sideNav{
  clear: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
  box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
  background-color: rgb(255, 255, 255);
}
.navItem {
  cursor: pointer;
  margin-top: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  &:first-child{
    margin-top: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
  }
  float: left;
  height: 50px;
  clear: none;
  width: 100%;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
  box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: block;
  &:hover{
    background-color: rgb(247, 247, 247);
  }
  &:active{
    background-color: rgb(247, 247, 247);
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
    border-top-left-radius: 0px;
  }
  &:focus{
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    box-shadow: rgb(242, 242, 242) 0px 1px 0px 0px;
    background-color: rgb(247, 247, 247);
    border-right-color: rgb(110, 124, 191);
    border-right-width: 5px;
    border-right-style: solid;
  }



  .navText {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    clear: none;
    min-height: 0px;
    font-family: 'Source Sans Pro';
    color: rgb(110, 124, 191);
    position: static;
    top: 0px;
    left: 0px;
    margin-top: 18px;
    margin-right: auto;
    margin-left: 30px;
  }


}
