
.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  color: #fff;
  margin-bottom: 30px;
  cursor: pointer;
  a{
    color: #fff;

  }
  .title {
    margin-top: 0px;
  }

}

.panel-icon{
  .image{
    height: 24px;
    width: 24px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right:10px;
  }

  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  height: 45px;
  clear: none;
  width: 45px;
  border-top-left-radius: 99px;
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
  border-bottom-left-radius: 99px;
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-left-color: #fff;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

.panel-title{
  font-size: 24px;
}

.widget {
  clear: none;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
  box-shadow: rgb(221, 221, 221) 0px 2px 3px 1px;
  background-color: rgb(255, 255, 255);
  .widgetTitle{
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    clear: none;
    min-height: 0px;
    color: rgb(110, 124, 191);
  }
}
